@font-face {
    font-family: arcadeType;
    src: url('typeface/arcade-classic.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    background: none;
}

#topnav {
    position: fixed;
    display: flex;
    z-index: 4;
    flex-direction: column;
    justify-content: space-between;

    font-family: arcadeType;
    font-size: 50px;
    color: rgb(0, 126, 255);

    padding-left: 10px;
    padding-top: 10px;
}

#name {
    z-index: 4;
}

#countdown {
    z-index: 4;
}

#gameover {
    color: red;
    position: absolute;
    font-family: arcadeType;
    font-size: 150px;
    line-height: 60%;
    top: 335px;
    left: 348px;
    justify-self: center;
}

#bg {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
  }